/* .section{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slide{
    width: 400%;
    height: 500px;
    display: flex;
}

.slide input{
    display: none;
}

.st{
    width: 20%;
    transition: 2s;
}

.st img{
    width: 800px;
    height: 500px;

}

.nav-m{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}

.m-btn{
    border: 2px solid ;
    padding: 5px;
    border-radius: 10px;
} */